<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.48.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.16.0" targetFramework="net48" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient" version="6.1.1" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.SNI" version="6.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.77.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.77.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="8.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.14.0" targetFramework="net48" />
  <package id="Syncfusion.Core.WinForms" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Data.WinForms" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.DataSource.WinForms" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Grid.Base" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Grid.Windows" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.WinForms" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Grouping.Base" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WinForms" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.SfListView.WinForms" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.SpellChecker.Base" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Tools.Base" version="31.1.19" targetFramework="net48" />
  <package id="Syncfusion.Tools.Windows" version="31.1.19" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.ClientModel" version="1.6.1" targetFramework="net48" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.9" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="9.0.9" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.14.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.9" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Memory.Data" version="9.0.9" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="9.0.9" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="9.0.9" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.9" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.9" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>